@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Consulta de Tesis</h2>

<p>Aquí puedes buscar tesis disponibles en la base de datos.</p>

<form>
    <label for="txtBuscar">Buscar:</label>
    <input type="text" id="txtBuscar" placeholder="Ingrese palabras clave para buscar" />
    <input type="submit" value="Buscar" />
</form>
