@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Resultados de Búsqueda</h2>

<p>Aquí se mostrarán los resultados de la búsqueda de tesis.</p>

<ul>
    <li>Tesis 1 - Autor: Autor1</li>
    <li>Tesis 2 - Autor: Autor2</li>
    <li>Tesis 3 - Autor: Autor3</li>
</ul>
