@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="home-container">
    <h1>Biblioteca Metropolis</h1>
    <img src="~/Content/img/biblioteca.jpeg"/>
    <p>Utiliza el menú superior para navegar.</p>
</div>
<footer>
    &copy; 2024 Biblioteca Metrópolis
</footer>
